@import "~src/style-constants";

.upload-file-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  #file-input {
    display: none;
  }

  .upload-file-btn {
    padding: 0 15px;

    .admin-panel-btn-icon {
      font-size: 22px;
    }

  }

}
