<div class="upload-file-container">
  <input type="file" #fileInput (change)="uploadFile($event)" hidden>
  <button mat-raised-button class="upload-file-btn" (click)="fileInput.click()">
    <mat-icon class="admin-panel-btn-icon">vertical_align_top</mat-icon>
    {{buttonName}}
  </button>
</div>
