@import "~src/style-constants";

.nav-bar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 65px;
  height: 100%;
  background: $background-side-bar-light-gray;
  box-shadow: $box-shadow;
  padding: 20px 0;
  z-index: 1;

  .nav-bar-button {
    width: 100%;
    background: inherit;
    outline: none;
    border: 0;
    padding: 15% 0;
    text-align: center;

    .nav-bar-button-icon {
      height: 50px;
      width: 50px;
      font-size: 45px;
      color: $color-icon;
    }

  }

  .nav-bar-button:last-child {
    position: absolute;
    bottom: 40px;
  }

  .nav-bar-button:hover {
    background: $background-side-bar-light-gray-hover;
  }

}

.nav-bar-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  padding: 20px 0 20px 65px;
  background: $background-side-bar-light-gray;
  box-sizing: border-box;
  box-shadow: $box-shadow;
}
