<section class="nav-bar-container">
  <button class="nav-bar-button" matTooltip="Offices" matTooltipPosition="right" (click)="showOffices()">
    <mat-icon class="nav-bar-button-icon">business</mat-icon>
  </button>
  <button class="nav-bar-button" matTooltip="Profile" matTooltipPosition="right" (click)="showUserProfile()">
    <mat-icon class="nav-bar-button-icon">person_outline</mat-icon>
  </button>
  <button class="nav-bar-button" matTooltip="Admin panel" matTooltipPosition="right" (click)="showAdminPanel()">
    <mat-icon class="nav-bar-button-icon">apps</mat-icon>
  </button>
  <button class="nav-bar-button" matTooltip="Create transfer request" matTooltipPosition="right" (click)="showTransferRequest()">
    <mat-icon class="nav-bar-button-icon">swap_horizontal_circle</mat-icon>
  </button>
  <button class="nav-bar-button" matTooltip="Exit" matTooltipPosition="right" (click)="exit()">
    <mat-icon class="nav-bar-button-icon">exit_to_app</mat-icon>
  </button>
</section>
<section class="nav-bar-panel" [style.width]="panelWidth">
  <app-offices *ngIf="loading === 'OFFICES'" (office)="getOffice($event)"></app-offices>
  <app-single-office *ngIf="loading === 'SINGLE_OFFICE'" [office]="office" (room)="getRoom($event)"></app-single-office>
  <app-single-room *ngIf="loading === 'SINGLE_ROOM'" [roomId]="room.id" (employee)="getEmployee($event)"></app-single-room>
  <app-employee-profile *ngIf="loading === 'EMPLOYEE_PROFILE'" [employee]="employee"></app-employee-profile>
  <app-user-profile *ngIf="loading === 'USER_PROFILE'"></app-user-profile>
  <app-admin-panel *ngIf="loading === 'ADMIN_PANEL'"></app-admin-panel>
  <app-transfer-request *ngIf="loading ==='TRANSFER_REQUEST'"></app-transfer-request>
</section>

