@import "~src/style-constants";

.employee-profile-header {
  padding: 0 10px;

  .employee-profile-header-btn {
    padding: 0 5px;
    font-size: 16px;
    font-weight: lighter;
    color: $color-header-btn;
  }

}

.employee-profile-container {
  text-align: center;

  .employee-profile-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 15px auto;
    background: $background-white;
    border-radius: 100px;

    .employee-profile-image {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

  }

  .employee-profile-personal-info {
    border-bottom: $border-bottom;

    .employee-profile-name {
      margin: 15px auto 20px auto;
      text-align: center;
      font-weight: lighter;
      font-size: 24px;
    }

  }

  .employee-profile-addition-info {
    padding: 10px 15px;
    text-align: left;

    .employee-profile-addition-info-label {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      color: $font-color-dark-gray;
    }

    .employee-profile-addition-info-text {
      margin: 5px 0;
      font-size: 16px;
      color: $font-color-light-gray;
    }

  }

}

.available-place {
  padding-left: 15px;
}
