<header class="employee-profile-header">
  <button mat-button class="employee-profile-header-btn" (click)="redirectBackToSingleRoom()">
    <mat-icon>arrow_back</mat-icon>
    Room
  </button>
</header>
<section class="employee-profile-container" *ngIf="employee != undefined">
  <div class="employee-profile-image-container" *ngIf="employee.imageLink != null">
    <img class="employee-profile-image" src="{{employee.imageLink}}" alt="employee">
  </div>
  <div class="employee-profile-image-container" *ngIf="employee.imageLink === null">
    <img class="employee-profile-image" src="../../../../assets/images/avatar-default.png" alt="employee">
  </div>
  <div class="employee-profile-personal-info">
    <h1 class="employee-profile-name">{{employee.name}}</h1>
  </div>
  <div class="employee-profile-addition-info" *ngIf="employee.group != ''">
    <span class="employee-profile-addition-info-label">Location</span>
    <p class="employee-profile-addition-info-text">{{employee.group}}</p>
  </div>
  <div class="employee-profile-addition-info">
    <span class="employee-profile-addition-info-label">Location</span>
    <p class="employee-profile-addition-info-text">{{employee.location}}</p>
  </div>
</section>
<h3 class="available-place" *ngIf="employee == undefined">
  Place is available!
</h3>
