<div *ngIf="problem !== null && problem !== undefined && problem.violations != undefined">
  <div class="message-description" *ngIf="problem.violations.length > 0">
    <mat-icon class="message-description-icon show-errors">error_outline</mat-icon>
    <p class="message-description-content show-errors">
      {{problem.violations.length}} errors were found
    </p>
  </div>
  <div class="message-description">
    <mat-icon class="message-description-icon"
              [style.color]="resolvedIssuesColor">check_circle_outline</mat-icon>
    <p class="message-description-content" [style.color]="resolvedIssuesColor">
      {{resolvedIssues}}/{{problem.violations.length}} issues resolved
    </p>
  </div>
  <div class="message-content">
    <div *ngFor="let problem of problem.violations">
      <div class="upload-message unsuccessful-message">
        <div class="upload-message-header">
          <mat-icon class="upload-message-icon">error_outline</mat-icon>
          <p class="upload-message-title">{{problem.field | uppercase}}</p>
        </div>
        <p class="upload-message-subtitle">{{problem.message}}</p>
        <mat-checkbox class="upload-message-done-btn" (change)="resolveIssue($event)">Mark as resolved</mat-checkbox>
      </div>
    </div>
  </div>
</div>
<div class="message-content" *ngIf="problem !== null && problem !== undefined && problem.violations === undefined">
  <div class="upload-message unsuccessful-message">
    <div class="upload-message-header">
      <mat-icon class="upload-message-icon">error_outline</mat-icon>
      <p class="upload-message-title">{{problem.title | uppercase}}</p>
    </div>
    <p class="upload-message-subtitle">{{problem.detail}}</p>
  </div>
</div>
