@import "~src/style-constants";
@import "/~src/app/modules/side-bar/shared/scroll-bar";

.message-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;

  .message-description-icon {
    margin-right: 5px;
  }

  .show-errors {
    color: $font-color-error;
  }

  .message-description-content {
    margin: 0;
  }

}

.message-content {
  height: 600px;
  overflow-y: auto;
}

.upload-message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 10px;
  border-radius: $border-radius;

  .upload-message-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .upload-message-icon {
      margin-right: 5px;
    }

    .upload-message-title {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }

  }

  .upload-message-subtitle {
    text-align: justify;
    font-size: 15px;
    margin: 5px 0;
  }

  .upload-message-done-btn {
    width: 100%;
    font-size: 14px;
  }

}

.resolved-issue {
  background: $background-successful-msg;
  border: $border-successful-msg;
}

.unsuccessful-message {
  background: $background-unsuccessful-msg;
  border: $border-unsuccessful-msg;
}

