<header class="offices-header">
  <h1 class="offices-header-caption">Offices</h1>
</header>
<section class="offices-container">
  <div class="offices-content" *ngFor="let office of offices">
    <p class="offices-caption">city</p>
    <div class="office-card" (click)="redirectToOffice(office)">
      <img class="office-card-img" src="../../.././../assets/images/default-building.png" alt="office">
      <div class="office-card-info">
        <p class="office-card-title">{{office.location}}</p>
        <p class="office-card-subtitle">city</p>
      </div>
    </div>
  </div>
</section>
