@import "~src/style-constants";
@import "/~src/app/modules/side-bar/shared/scroll-bar";

.offices-header {

  .offices-header-caption {
    margin-top: 0;
    margin-left: 15px;
    font-weight: lighter;
    color: $color-header-btn;
  }

}

.offices-container {

  .offices-content {
    height: 900px;
    overflow-y: auto;

    .offices-caption {
      margin: 0;
      padding: 10px 18px;
      border-bottom: $border-bottom;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: $font-color-dark-gray;
    }

    .office-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
      padding: 18px;
      box-sizing: border-box;
      cursor: pointer;

      .office-card-img {
        width: 100%;
        border-radius: $border-radius;
      }

      .office-card-info {
        width: 100%;
        padding-top: 15px;

        .office-card-title, .office-card-subtitle {
          margin: 0;
          text-transform:  uppercase;
          font-weight: bold;
        }

        .office-card-title {
          font-size: 12px;
          color: $font-color-dark-gray;
        }

        .office-card-subtitle {
          margin-top: 5px;
          font-size: 10px;
          color: $font-color-light-gray;
        }

      }

    }

  }

}
