<section class="admin-panel-container">
    <h1 class="admin-panel-caption">Administration panel</h1>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Create an office">
      <ng-template matTabContent>
        <app-create-office></app-create-office>
      </ng-template>
    </mat-tab>
    <mat-tab label="Delete an office">
      <ng-template matTabContent>
        <app-delete-office></app-delete-office>
      </ng-template>
    </mat-tab>
    <mat-tab label="Create a room">
      <ng-template matTabContent>
        <app-create-room></app-create-room>
      </ng-template>
    </mat-tab>
    <mat-tab label="Update a room">
      <ng-template matTabContent>
        <app-update-room></app-update-room>
      </ng-template>
    </mat-tab>
    <mat-tab label="Delete a room">
      <ng-template matTabContent>
        <app-delete-room></app-delete-room>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</section>

