@import "~src/style-constants";

.admin-panel-container {
  width: 100%;

  .admin-panel-caption {
    margin: 0;
    padding: 0 0 5px 15px;
    font-weight: lighter;
    font-size: 24px;
    color: $font-color-dark-gray;
  }

  .mat-tab-body-wrapper {
    margin: 15px;
  }

}
