<header class="single-room-header">
  <button mat-button class="single-room-header-btn" (click)="redirectToSingleOffice()">
    <mat-icon>arrow_back</mat-icon>
    Offices
  </button>
  <mat-icon class="single-room-editor" (click)="editRoomAttributes()">edit</mat-icon>
</header>
<section class="single-room-container">
  <div class="single-room-info">
    <div class="single-room-info-item">
      <h1 class="single-room-title">{{currentRoom.number}}</h1>
      <p class="single-room-subtitle">room</p>
    </div>
    <div class="single-room-info-item">
      <h1 class="single-room-title additional-info">{{currentRoom.freePlaces}}/{{currentRoom.totalPlaces}}</h1>
      <p class="single-room-subtitle">available places</p>
    </div>
    <div class="single-room-info-item" *ngIf="currentRoom.manager != null">
      <h1 class="single-room-title additional-info">{{currentRoom.manager.name}} ({{currentRoom.manager.group}})</h1>
      <p class="single-room-subtitle">responsible manager</p>
    </div>
  </div>
  <div class="single-room-content">
    <div class="single-room-search">
      <mat-form-field class="single-room-search-field">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix class="single-room-search-field-icon">search</mat-icon>
        <input matInput type="text" placeholder="Search" [formControl]="search" (input)="searchEmployee()">
      </mat-form-field>
    </div>
    <div class="single-room-employees">
      <div *ngFor="let employee of shownEmployees" (click)="redirectToEmployeeProfile(employee)">
        <div class="single-room-employees-item">
          <p class="single-room-employee-name">{{employee.name}}</p>
          <p class="single-room-employee-position">{{employee.group}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="svg-wrapper">
    <div class="svg-room-draggable-wrapper" cdkDrag>
      <div class="svg-room"></div>
    </div>
  </div>
  <div class="zoom-buttons-wrapper">
    <button mat-button class="zoom-button" (click)="zoom(1 + zoomStep)">+</button>
    <button mat-button class="zoom-button" (click)="zoom(1 - zoomStep)">-</button>
  </div>
</section>
