@import "~src/style-constants";
@import "/~src/app/modules/side-bar/shared/scroll-bar";

.svg-label-name {
  cursor: pointer;
}

.svg-wrapper {
  overflow: auto;
  position: absolute;
  left: 363px;
  top: 0;
  width: 2000px;
  height: 100%;
  padding: 10px;
  transform-origin: 0 0 0;

  & :active {
    cursor: grabbing;
  }

  .svg-room-draggable-wrapper {
    position: absolute;
    cursor: grab;

    .svg-room {
      transition: transform .2s;
      position: absolute;
    }

  }

}

.zoom-buttons-wrapper {
  position: absolute;
  left: 400px;
  top: 20px;

  .zoom-button {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
    font-size: 30px;
  }

}

.single-room-header {
  padding: 0 10px 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .single-room-header-btn {
    padding: 0 5px;
    font-size: 16px;
    font-weight: lighter;
    color: $color-header-btn;
  }

  .single-room-editor {
    padding: 6px;
    font-size: 22px;
    text-align: center;
    color: $color-header-btn;
    cursor: pointer;
  }

  .single-room-editor:hover {
    background: $btn-hover-light-gray;
    border-radius: 30px;
  }

}

.single-room-container {
  padding: 15px 0;

  .single-room-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15px;

    .single-room-info-item {
      padding: 2px 0;

      .single-room-title {
        margin: 0;
        font-size: 24px;
        font-weight: lighter;
        color: $font-color-dark-gray;
      }

      .single-room-subtitle {
        margin: 5px 0;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: $font-color-dark-gray;
      }

      .additional-info {
        font-size: 20px;
      }

    }

  }

  .single-room-content {

    .single-room-search {
      padding: 0 15px;

      .single-room-search-field {
        width: 100%;

        .single-room-search-field-icon {
          color: $color-icon;
        }

        .mat-form-field-flex {
          align-items: flex-end;
        }

      }

    }

    .single-room-employees {
      height: 670px;
      overflow-y: auto;

      .single-room-employees-item {
        display: flex;
        flex-direction: column;
        padding: 5px 0;
        border-bottom: $border-bottom;
        cursor: pointer;

        .single-room-employee-name, .single-room-employee-position {
          margin: 5px 0;
          padding: 0 15px;
        }

        .single-room-employee-name {
          font-size: 16px;
          font-weight: lighter;
          color: $font-color-dark-gray;
        }

        .single-room-employee-position {
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          color: $font-color-dark-gray;
        }

      }

    }

  }

}
