@import "~src/style-constants";

.upload-message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px 0;
  padding: 10px;
  border-radius: $border-radius;

  .upload-message-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .upload-message-icon {
      margin-right: 5px;
    }

    .upload-message-title {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }

  }

}

.successful-message {
  background: $background-successful-msg;
  border: $border-successful-msg;
}
