<div class="upload-message successful-message" *ngIf="successfulResponse">
  <div class="upload-message-header">
    <mat-icon class="upload-message-icon">done_outline</mat-icon>
    <p class="upload-message-title">Completed successfully!</p>
  </div>
</div>
