<div class="update-room-container">
  <div class="update-room-content">
    <app-upload-file (file)="getFile($event)"
                     buttonName="Upload room schema"
                     (uploadFileStart)="uploadFileStart()">
    </app-upload-file>
    <form class="update-room-form" [formGroup]="updateRoomForm">
      <mat-form-field>
        <mat-label>Choose an office</mat-label>
        <mat-select  formControlName="officeId" (selectionChange)="getRoomsByOffice()" required>
          <mat-option *ngFor="let office of offices" [value]="office.id">
            {{office.location}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateRoomForm.controls.officeId.hasError('required')">
          Office location is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a room</mat-label>
        <mat-select  formControlName="roomNumber" (valueChange)="validateRoom()" required>
          <mat-option *ngFor="let room of rooms" [value]="room">
            {{room.number}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="updateRoomForm.controls.roomNumber.hasError('required')">
          Room number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="invalidRoomForUpdate">Current room cannot be updated, because not all places in the room are freed</mat-error>
      </mat-form-field>
      <button mat-raised-button class="update-room-send-btn"
              [disabled]="updateRoomForm.invalid"
              (click)="updateRoom()">Update</button>
    </form>

    <div class="uploaded-file" *ngIf="uploadedFile != undefined || uploadedFile != null">
      <div class="uploaded-file-info">
        <mat-icon class="uploaded-file-icon">
          insert_drive_file
        </mat-icon>
        <p class="uploaded-file-name">{{uploadedFile.name}}</p>
      </div>
      <mat-icon class="uploaded-file-cancel-icon" (click)="uploadFileStart()">
        clear
      </mat-icon>
    </div>
  </div>

  <div class="update-room-content">
    <app-successful-response [successfulResponse]="isUploadedSuccessful"></app-successful-response>
    <app-error-response [problem]="problem"></app-error-response>
  </div>


</div>
