@import "~src/style-constants";

.update-room-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .update-room-content {
    width: 49%;

    .update-room-form {
      display: flex;
      flex-direction: column;
    }

    .update-room-send-btn {
      width: 30%;
      margin: 5px 0;
      padding: 0 10px;
    }

  }

  .uploaded-file {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    background: $background-upload-file-msg;
    border-radius: $border-radius;
    padding: 7px;

    .uploaded-file-info {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }

    .uploaded-file-icon {
      margin-right: 5px;
    }

    .uploaded-file-name {
      margin: 0;
    }

    .uploaded-file-cancel-icon {
      font-size: 15px;
      cursor: pointer;
    }

  }

}
