@import "~src/style-constants";

.update-room-attributes-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .update-room-attributes-dialog-close-btn {
    cursor: pointer;
  }

  .update-room-attributes-dialog-close-btn:hover {
    background: $btn-hover-light-gray;
    border-radius: 30px;
  }

}

.update-room-attributes-dialog-caption {
  margin: 0 0 5px 0;
  font-size: 24px;
  font-weight: lighter;
  color: $color-header-btn;
}

.update-room-attributes-dialog-message-caption {
  margin: 0 0 10px 0;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  color: $color-header-btn;
}

.update-room-attributes-dialog-message {
  margin: 5px 0;
  padding: 5px;
  font-size: 18px;
  font-weight: lighter;
  color: $color-header-btn;
  border-radius: $border-radius;
}

.successful-message {
  background: $background-successful-msg;
  border: $border-successful-msg;
}

.unsuccessful-message {
  background: $background-unsuccessful-msg;
  border: $border-unsuccessful-msg;
}

.update-room-attributes-dialog-form {
  display: flex;
  flex-direction: column;
}

.update-room-attributes-dialog-employees {
  height: 500px;
  overflow-y: auto;

  .update-room-attributes-dialog-employee {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
    box-sizing: border-box;
    border: $border-bottom;
    border-radius: $border-radius;
    cursor: pointer;

    .update-room-attributes-dialog-employee-label {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      color: $font-color-dark-gray;

      .update-room-attributes-dialog-employee-info {
        text-transform: none;
        font-size: 16px;
        font-weight: lighter;
        color: $font-color-light-gray;
      }

    }

  }

}

::-webkit-scrollbar {
  width: $width-scrollbar;
}

::-webkit-scrollbar-track {
  background: $background-scrollbar-track;
}

::-webkit-scrollbar-thumb {
  background: $background-scrollbar-thumb;
}
