<div class="update-room-attributes-dialog-header">
  <h1 mat-dialog-title class="update-room-attributes-dialog-caption">Update {{data.number}} room attributes</h1>
  <mat-icon class="update-room-attributes-dialog-close-btn" (click)="cnClose()">clear</mat-icon>
</div>
<div *ngIf="message == undefined">
  <div mat-dialog-content>
    <form class="update-room-attributes-dialog-form" [formGroup]="managerForm">
      <mat-form-field>
        <input matInput placeholder="Enter first name" formControlName="firstName" required>
        <mat-error *ngIf="managerForm.controls.firstName.hasError('pattern')">
          First name is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="managerForm.controls.firstName.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter last name" formControlName="lastName" required>
        <mat-error *ngIf="managerForm.controls.lastName.hasError('pattern')">
          Last name is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="managerForm.controls.lastName.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="transfer-request-submit">
        <button mat-button type="submit" [disabled]="managerForm.invalid" (click)="searchManager()">Search</button>
      </div>
    </form>
  </div>
  <div *ngIf="employees != undefined && employees.length == 0">
    <h1 mat-dialog-title class="update-room-attributes-dialog-caption">
      Person was not found
    </h1>
  </div>
  <div *ngIf="employees != undefined && employees.length >= 1">
    <h1 mat-dialog-title class="update-room-attributes-dialog-caption">
      Choose the right person
    </h1>
    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="update-room-attributes-dialog-employees"
                     [formControl]="selectedEmployee" required>
      <mat-radio-button class="update-room-attributes-dialog-employee" *ngFor="let employee of employees" [value]="employee">
        <p class="update-room-attributes-dialog-employee-label">Name<br>
          <span class="update-room-attributes-dialog-employee-info">
          {{employee.name}} ({{employee.group}})
        </span>
        </p>
        <p class="update-room-attributes-dialog-employee-label">Location<br>
          <span class="update-room-attributes-dialog-employee-info">
          {{employee.location}}
        </span>
        </p>
      </mat-radio-button>
    </mat-radio-group>
    <div class="transfer-request-submit">
      <button mat-button
              type="submit"
              *ngIf="employees != undefined && employees != null"
              [disabled]="selectedEmployee.invalid"
              (click)="updateRoomAttributes()">Update</button>
    </div>
  </div>
</div>
<div *ngIf="message != undefined">
  <div *ngIf="successUpdate" class="update-room-attributes-dialog-message successful-message">
    <h1 class="update-room-attributes-dialog-message-caption">{{message}}</h1>
    <b>Room:</b> {{updatedRoom.number}}<br>
    <b>Responsible manager:</b> {{updatedRoom.manager.name}} ({{updatedRoom.manager.group}})
  </div>
  <div *ngIf="unsuccessUpdate" class="update-room-attributes-dialog-message unsuccessful-message">
    <h1 class="update-room-attributes-dialog-message-caption">{{message}}</h1>
  </div>
</div>
