<div class="signin-content-wrapper">
  <mat-card class="signin-card">
    <div class="signin-card-content-wrapper">
      <h2 class="signin-card-title">
        Welcome to Workplace Manager
      </h2>
      <mat-card-content class="signin-card-content">
        <form 
          class="signin-form"
          [formGroup]="signinForm"
          (ngSubmit)="onSignin()">
          <mat-form-field 
            class="signin-form-field-wrapper" 
            appearance="outline">
            <mat-label>Username</mat-label>
            <input
              class="signin-form-field"
              matInput
              formControlName="username"
              [errorStateMatcher]="matcher">
            <mat-error
              *ngIf="signinForm.get('username').errors?.required &&
              !signinForm.get('username').errors?.email">Username is required.</mat-error>
          </mat-form-field>
          <mat-form-field 
            class="signin-form-field-wrapper" 
            appearance="outline">
            <mat-label>Password</mat-label>
            <input 
              class="signin-form-field"
              matInput
              type="password"
              formControlName="password"
              [errorStateMatcher]="matcher">
              <mat-error
                *ngIf="signinForm.get('password').errors?.required &&
                !signinForm.get('password').errors?.password">Password is required.</mat-error>
          </mat-form-field>
          <mat-card-actions class="signin-card-actions">
            <button 
              mat-flat-button
              class="signin-card-btn"
              type="submit">Sign in</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </div>
  </mat-card>
</div>
