.signin-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
}

.signin-card {
    display: flex;
    flex-direction: column;
    width: 660px;
    padding: 0;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    margin: 0 16px;
}

.signin-card-content-wrapper {
    margin: 0 140px;
    padding: 64px 0;
}

.signin-card-title {
    margin: 0 0 24px 0;
    font-weight: 300;
    line-height: 1.125;
    color: #3d4d5c;
}

.signin-form {
    display: flex;
    flex-direction: column;
}

::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #d1d9e0;
  }
  
:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #d1d9e0;
}

::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #d1d9e0;
}

.signin-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.signin-card-btn {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    background-color: #004cff;
}
