<section class="transfer-request-container">
  <h1 class="transfer-request-caption">Create transfer request</h1>
  <mat-horizontal-stepper class="transfer-request-stepper" linear labelPosition="bottom">
  <mat-step [stepControl]="employeeForm" label="Choose employee">
    <form class="transfer-request-form" [formGroup]="employeeForm">
      <mat-form-field>
        <mat-select placeholder="Choose request type" formControlName="requestType" required>
          <mat-option *ngFor="let requestType of requestTypes.values()" [value]="requestType">
            {{requestType | lowercase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter first name" formControlName="firstName" required>
        <mat-error *ngIf="employeeForm.controls.firstName.hasError('pattern')">
          First name is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="employeeForm.controls.firstName.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter last name" formControlName="lastName" required>
        <mat-error *ngIf="employeeForm.controls.lastName.hasError('pattern')">
          Last name is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="employeeForm.controls.lastName.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="transfer-request-submit">
        <button mat-button type="submit" [disabled]="employeeForm.invalid" (click)="searchEmployee()">Search</button>
      </div>
    </form>
    <div *ngIf="employees != undefined && employees.length == 0">
      <h1 class="transfer-request-caption additional-caption" >
        Person was not found
      </h1>
    </div>
    <div *ngIf="employees != undefined && employees.length >= 1">
      <h1 class="transfer-request-caption additional-caption" >
        Choose the right person
      </h1>
      <mat-radio-group aria-labelledby="example-radio-group-label" class="transfer-request-employees"
                       [formControl]="selectedEmployee" required>
        <mat-radio-button class="transfer-request-employee-item" *ngFor="let employee of employees" [value]="employee">
          <p class="transfer-request-employee-label">Name<br>
            <span class="transfer-request-employee-info">
              {{employee.name}} ({{employee.group}})
              </span>
          </p>
          <p class="transfer-request-employee-label">Location<br>
            <span class="transfer-request-employee-info">
              {{employee.location}}
              </span>
          </p>
        </mat-radio-button>
      </mat-radio-group>
      <div class="transfer-request-submit">
        <button mat-button
                type="submit"
                matStepperNext
                *ngIf="employees != undefined && employees != null"
                [disabled]="selectedEmployee.invalid"
                (click)="getEmployeePlace()">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Choose place">
    <form class="transfer-request-form" [formGroup]="placeForm"
          *ngIf="employeeForm.controls.requestType.value.value != requestTypes.REMOVE">
      <mat-form-field>
        <mat-select placeholder="Choose office" formControlName="office" required>
          <mat-option *ngFor="let office of offices | keyvalue" [value]="office">
            {{office.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter room number" formControlName="room" required>
        <mat-error *ngIf="placeForm.controls.room.hasError('pattern')">
          Room number is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="placeForm.controls.room.hasError('required')">
          Room number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter place number" formControlName="place" required>
        <mat-error *ngIf="placeForm.controls.place.hasError('pattern')">
          Place number is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="placeForm.controls.place.hasError('required')">
          Place number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext
                [disabled]="!placeForm.valid"
                (click)="getTargetPlace()">Next</button>
       </div>
    </form>
    <div *ngIf="employeeForm.controls.requestType.value.value == requestTypes.REMOVE">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="sendTransferRequest()">Next</button>
    </div>
  </mat-step>

  <mat-step label="Done">
    {{message}}
  </mat-step>
  </mat-horizontal-stepper>
</section>
