@import "~src/style-constants";
@import "/~src/app/modules/side-bar/shared/scroll-bar";

.transfer-request-container {

  .transfer-request-caption {
    font-size: 24px;
    margin-top: 0;
    margin-left: 15px;
    font-weight: lighter;
    color: $color-header-btn;
  }

  .additional-caption {
    margin: 10px 0 0 0;
  }

  .transfer-request-stepper {
    background: $background-side-bar-light-gray;
  }

  .transfer-request-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    mat-form-field {
      margin-bottom: 5px;
    }

  }

  .transfer-request-submit {
    text-align: center;
  }

  .transfer-request-employees {
    height: 500px;
    overflow-y: auto;

    .transfer-request-employee-item {
      width: 100%;
      margin: 10px 0;
      padding: 0 10px;
      box-sizing: border-box;
      border: $border-bottom;
      border-radius: $border-radius;
      cursor: pointer;

      .transfer-request-employee-label {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: $font-color-dark-gray;

        .transfer-request-employee-info {
          text-transform: none;
          font-size: 16px;
          font-weight: lighter;
          color: $font-color-light-gray;
        }

      }

    }

  }

  .transfer-request-employee:hover {
    background: $background-side-bar-light-gray-hover;
  }

  .selected-employee {
    background: $background-side-bar-light-gray-hover;
  }

}
