<div class="create-office-container">
  <div class="create-office-content">
    <app-upload-file (file)="getVsdFile($event)"
                     buttonName="Upload office schema"
                     (uploadFileStart)="uploadFileStart()">
    </app-upload-file>
    <mat-slide-toggle class="upload-file-slide-toggle"
                      [(ngModel)]="ignoreWarnings">Ignore warnings</mat-slide-toggle>
    <app-upload-file (file)="getImgFile($event)"
                     buttonName="Upload office image">
    </app-upload-file>
    <form class="create-office-form" [formGroup]="createOfficeForm">
      <mat-form-field>
        <input matInput placeholder="Enter a city" formControlName="city" required>
        <mat-error *ngIf="createOfficeForm.controls.city.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="createOfficeForm.controls.city.hasError('pattern')">
          City is <strong>incorrectly</strong> entered
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter a short designation" formControlName="shortDesignation" required>
        <mat-error *ngIf="createOfficeForm.controls.shortDesignation.hasError('required')">
          Short Designation is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="createOfficeForm.controls.shortDesignation.hasError('pattern')">
          Short Designation is <strong>incorrectly</strong> entered
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Enter a longitude" formControlName="longitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Enter a latitude" formControlName="latitude">
      </mat-form-field>
      <button mat-raised-button class="create-office-send-btn"
              [disabled]="createOfficeForm.invalid || uploadedVsdFile === undefined"
              (click)="sendUploadedFile()">Create</button>
    </form>

    <div class="uploaded-file" *ngIf="uploadedVsdFile != undefined || uploadedVsdFile != null">
      <div class="uploaded-file-info">
        <mat-icon class="uploaded-file-icon">
          insert_drive_file
        </mat-icon>
        <p class="uploaded-file-name">{{uploadedVsdFile.name}}</p>
      </div>
      <mat-icon class="uploaded-file-cancel-icon" (click)="removeVsdFile()">
        clear
      </mat-icon>
    </div>

    <div class="uploaded-file" *ngIf="uploadedImgFile != undefined || uploadedImgFile != null">
      <div class="uploaded-file-info">
        <mat-icon class="uploaded-file-icon">
          insert_drive_file
        </mat-icon>
        <p class="uploaded-file-name">{{uploadedImgFile.name}}</p>
      </div>
      <mat-icon class="uploaded-file-cancel-icon" (click)="removeImgFile()">
        clear
      </mat-icon>
    </div>

  </div>
  <div class="create-office-content">
    <app-successful-response [successfulResponse]="isUploadedSuccessful"></app-successful-response>
    <app-error-response [problem]="problem"></app-error-response>
  </div>
</div>
