<header class="single-office-header">
  <button mat-button class="single-office-header-btn" (click)="redirectToOffices()">
    <mat-icon>arrow_back</mat-icon>
    Offices
  </button>
</header>
<section class="single-office-container">
  <div class="single-office-caption">
    <h1 class="single-office-title">{{office.location}}</h1>
    <p class="single-office-subtitle">address</p>
  </div>
  <img class="single-office-image" src="../../.././../assets/images/default-building.png" alt="office">
  <div class="single-office-content">
    <p class="single-office-caption">Floors</p>
    <div class="single-office-floor" *ngFor="let item of roomMap | keyvalue">
      <p class="single-office-floor-caption">{{item.key}} floor</p>
      <div class="single-office-room" *ngFor="let room of item.value" (click)="redirectToRoom(room)">
            <p class="single-office-room-number">{{room.number}}</p>
            <p class="single-office-room-info">room</p>
          </div>
        </div>
  </div>
</section>
