@import "~src/style-constants";
@import "/~src/app/modules/side-bar/shared/scroll-bar";

.single-office-header {
  padding: 0 10px;

  .single-office-header-btn {
    padding: 0 5px;
    font-size: 16px;
    font-weight: lighter;
    color: $color-header-btn;
  }

}

.single-office-container {
  padding: 15px 0;

  .single-office-caption {
    padding: 0 15px;

    .single-office-title {
      margin: 0;
      font-size: 24px;
      font-weight: lighter;
      color: $font-color-dark-gray;
    }

    .single-office-subtitle {
      margin: 5px 0 10px 0;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: bold;
      color: $font-color-light-gray;
    }

  }

  .single-office-image {
    width: 100%;
  }

  .single-office-content {
    height: 620px;
    overflow-y: auto;

    .single-office-caption {
      margin: 10px 0 0 0;
      padding: 10px 15px 0 15px;
      font-size: 24px;
      font-weight: lighter;
      color: $font-color-dark-gray;
    }

    .single-office-floor {
      padding: 5px 0 0 0;
      color: $font-color-dark-gray;

      .single-office-floor-caption {
        margin: 10px 0 0 0;
        padding: 5px 15px;
        border-bottom: $border-bottom;
        font-size: 20px;
        font-weight: bold;
        color: $font-color-dark-gray;
      }

      .single-office-room {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        border-bottom: $border-bottom;
        padding: 5px 15px;
        box-sizing: border-box;
        cursor: pointer;

        .single-office-room-number, .single-office-room-info {
          margin: 0;
        }

        .single-office-room-number {
          width: 33px;
          padding: 8px 10px;
          background: $background-white;
          border-radius: $border-radius;
          text-align: center;
        }

        .single-office-room-info {
          padding-left: 8px;
        }

      }

    }

  }

}
