@import "~src/style-constants";

::-webkit-scrollbar {
  width: $width-scrollbar;
}

::-webkit-scrollbar-track {
  background: $background-scrollbar-track;
}

::-webkit-scrollbar-thumb {
  background: $background-scrollbar-thumb;
}
