$background-side-bar-light-gray: #dfe1e6;
$background-white: #FFFFFF;
$background-side-bar-light-gray-hover: #c9cbd0;
$background-upload-file-msg: #c9cbd0;

$background-successful-msg: #93dc9385;
$background-unsuccessful-msg: #c7434352;

$background-scrollbar-track: #f1f1f1;
$background-scrollbar-thumb: #c9cbd0;

$border-bottom: 1px solid #c9cbd0;

$border-successful-msg: 2px solid #339433;
$border-unsuccessful-msg: 2px solid  #da4747;
$border-warning-msg: 2px solid  #ceb523;

$border-radius: 4px;

$btn-hover-light-gray: #d6d8dd;

$box-shadow: 0 0 10px rgba(0,0,0,0.5);

$color-header-btn: #4c4e54;
$color-icon: #757577;

$font-color-dark-gray: #4c4e54;
$font-color-light-gray: #646871b8;
$font-color-error: #FF0000;

$height-scrollbar: 10px;

$width-scrollbar: 10px;
