/* You can add global styles to this file, and also import other style files */
@import "custom-theme";

html, body {
    height: 100%; 
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f3f5f7;
}

// DEFAULT COLORS

$default_white: #fff;
$default_black: #000;
$default_blue: #003ac2;
$default_red: #d91f00;
$defaulr_green: #16b208;

// TEXT COLORS

$light_text_color: #788fa5;
$dark_text_color: #3d4d5c;

$btn_light_text_color: $default_white;
$btn_dark_text_color: $light_text_color;
$btn_hover_text_color: $light_text_color;

$placeholder_text_color: #a4abb2;
$input_text_color: $dark_text_color;

$link_color: $default_blue;

$active_tab_color: $default_blue;
$inactive_tab_color: $light_text_color;

$light_icon_color: $light_text_color;
$dark_icon_color: $btn_dark_text_color;

// BUTTON BACKGROUND COLORS

$btn_bgd_1: #e3e8ed;


// BORDERS COLORS

$border_color: #d1d9e0;

// SHADOWS COLORS

$outset_box_shadow: 0 1px 4px 0 rgba(66,77,92,.18);
$inset_box_shadow: inset 0 1px 3px rgba(8,10,12,.1);


// Fonts:

//     $font;
//     $font_weight;
//     $font_size;

// Colors:

//     - Accent colors:

//         $light_accent_color;
//         $mid_accent_color;
//         $dark_accent_color;

//     - Background colors:
//         $light_bg_color;
//         $dark_bg_color;
//         $active_btn_color;
//         $inactive_btn_color;
//         $input_color;

//     - Text colors:

//         $light_text_color;
//         $dark_text_color;

//         $light_btn_text_color;
//         $dark_btn_text_color;

//         $placeholder_text_color;
//         $input_text_color;

//         $link_color;

//         $active_tab_color;
//         $inactive_tab_color;

//         $light_icon_color;
//         $dark_icon_color;

//      - Borders colors:
//         $border_color;

//      - Form colors:


// Shadows:

//     $shadow;
//     $input_shadow

// Margins:

// Paddings:
