@import "~src/style-constants";

.user-profile-container {
  text-align: center;

  .user-profile-avatar {
    width: 150px;
    margin: 15px auto;
    height: 150px;
    border-radius: 100px;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

  }

  .user-profile-caption {
    font-weight: lighter;
    font-size: 24px;
  }

  .user-profile-info {

    .user-profile-info-field {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: $border-bottom;
      padding: 10px 15px;
      color: $font-color-dark-gray;
    }

  }

}
