<section class="user-profile-container">
  <div class="user-profile-avatar" *ngIf="user.imageLink != null">
    <img class="image" src="{{user.imageLink}}" alt="employee">
  </div>
  <div class="user-profile-avatar" *ngIf="user.imageLink === null || user.imageLink === undefined">
    <img class="image" src="../../../../assets/images/avatar-default.png" alt="employee">
  </div>
  <h1 class="user-profile-caption">{{user.name}}</h1>
  <div class="user-profile-info">
    <div class="user-profile-info-field">
      <div class="filed-label">Position</div>
      <div class="filed-value">{{user.role}}</div>
    </div>
    <div class="user-profile-info-field">
      <div class="filed-label">Group</div>
      <div class="filed-value">{{user.group}}</div>
    </div>
    <div class="user-profile-info-field">
      <div class="filed-label">Location</div>
      <div class="filed-value">{{user.location}}</div>
    </div>
  </div>
</section>
