<div class="create-room-container">
  <div class="create-room-content">
  <app-upload-file (file)="getFile($event)"
                   buttonName="Upload room schema"
                   (uploadFileStart)="uploadFileStart()">
  </app-upload-file>
    <form class="create-room-form" [formGroup]="createRoomForm">
      <mat-form-field>
        <mat-label>Choose office</mat-label>
        <mat-select formControlName="officeId" (selectionChange)="getRoomsByOfficeId()" required>
          <mat-option *ngFor="let office of offices" [value]="office.id">
            {{office.location}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createRoomForm.controls.officeId.hasError('required')">
          Office location is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter a room number"
               formControlName="roomNumber"
               (input)="checkRoomForDuplication()" required>
        <mat-error *ngIf="createRoomForm.controls.roomNumber.hasError('required')">
          Room number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="createRoomForm.controls.roomNumber.hasError('pattern')">
          Room number is <strong>incorrectly</strong> entered
        </mat-error>
        <mat-error *ngIf="creationRoomDuplication">
          Room with {{createRoomForm.controls.roomNumber.value}} number already exists
        </mat-error>
      </mat-form-field>
      <button mat-raised-button class="create-room-send-btn"
              [disabled]="createRoomForm.invalid"
              (click)="createRoom()">Create</button>
    </form>
    <div class="uploaded-file" *ngIf="uploadedFile != undefined || uploadedFile != null">
      <div class="uploaded-file-info">
        <mat-icon class="uploaded-file-icon">
          insert_drive_file
        </mat-icon>
        <p class="uploaded-file-name">{{uploadedFile.name}}</p>
      </div>
      <mat-icon class="uploaded-file-cancel-icon" (click)="uploadFileStart()">
        clear
      </mat-icon>
    </div>
  </div>

  <div class="create-room-content">
    <app-successful-response [successfulResponse]="isUploadedSuccessful"></app-successful-response>
    <app-error-response [problem]="problem"></app-error-response>
  </div>


</div>
