<div class="delete-office-container">
  <div class="delete-office-content">
    <form class="delete-office-form" [formGroup]="deleteOfficeForm">
      <mat-form-field>
        <mat-label>Choose an office</mat-label>
        <mat-select  formControlName="officeId" required>
          <mat-option *ngFor="let office of offices" [value]="office.id">
            {{office.location}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deleteOfficeForm.controls.officeId.hasError('required')">
          Office location is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button class="delete-room-send-btn"
              [disabled]="deleteOfficeForm.invalid"
              (click)="deleteOffice()">Delete</button>
    </form>
  </div>
  <div class="delete-office-content">
    <app-successful-response [successfulResponse]="isUploadedSuccessful"></app-successful-response>
    <app-error-response [problem]="problem"></app-error-response>
  </div>

</div>

