@import "~src/style-constants";

.delete-room-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .delete-room-content {
    width: 49%;

    .delete-room-form {
      display: flex;
      flex-direction: column;
    }

    .delete-room-send-btn {
      width: 30%;
      margin: 5px 0;
      padding: 0 10px;
    }

  }

}
