<div class="delete-room-container">
  <div class="delete-room-content">
    <form class="delete-room-form" [formGroup]="deleteRoomForm">
      <mat-form-field>
        <mat-label>Choose an office</mat-label>
        <mat-select  formControlName="officeId" (selectionChange)="getRoomsByOffice()" required>
          <mat-option *ngFor="let office of offices" [value]="office.id">
            {{office.location}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deleteRoomForm.controls.officeId.hasError('required')">
          Office location is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a room</mat-label>
        <mat-select  formControlName="roomNumber" (valueChange)="validateRoom()" required>
          <mat-option *ngFor="let room of rooms" [value]="room">
            {{room.number}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="deleteRoomForm.controls.roomNumber.hasError('required')">
          Room number is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="invalidRoomForDelete">Current room cannot be deleted, because not all places in the room are freed</mat-error>
      </mat-form-field>
      <button mat-raised-button class="delete-room-send-btn"
              [disabled]="deleteRoomForm.invalid"
              (click)="deleteRoom()">Delete</button>
    </form>
  </div>
  <div class="delete-room-content">
    <app-successful-response [successfulResponse]="isUploadedSuccessful"></app-successful-response>
    <app-error-response [problem]="problem"></app-error-response>
  </div>

</div>
